<body><center>
<h2>Welcome to the Hangman Game</h2>
<h3>Player One input a word(3 characters minimum):</h3>

<form method="post" action="choose_word">
	<input type="text" name="chosen_word" pattern="[A-Za-z]{5,}" autofocus required>
	<input class="button button-shadow" type="submit" value="Enter">
</form>

</center>
</body>