<center><h2>Step One:</h2><h3>Enter a word for the opposing player to guess and proceed by clicking the "Enter" button.</h3>
<h2>Step Two:</h2><h3>Now Player Two will enter a single letter into the text box at a time and proceed by clicking the "Add" button</h3>
 <button class="button button-shadow" onclick="window.location.href='/'">Home</button></center>