<center><body class="gameover" center><h2 class="losermessage">You Lose</h2>
	<h2 class="losermessage">The correct word was: <%=chosen_word%></h2>

<form method="get" action="/">
	<input class="button button-shadow" type="submit" value="Restart">
</form>
</body></center>