<center><body class="gameover" center><h2 class="losermessage">You Lose</h2>
	<h2 class="losermessage">The correct word was: <%=chosen_word%></h2>
 <button class="button button-shadow" onclick="window.location.href='/'">Restart</button>
</body></center>