<center><body class="winner">
<form method="post" action="results">
	<h1 class="winmessage">You Won!</h1>
	<h1 class="winmessage">The word is: <%=chosen_word.upcase%></h1>
</form>


<form method="get" action="/">
	<input class="button button-shadow winbutton" type="submit" value="Restart">
</form>
</body></center>