<center><body class="winner">
<form method="post" action="results">
	<h1 class="winmessage">You Won!</h1>
	<h1 class="winmessage">Here is the winning word: <%=chosen_word.upcase%></h1>
</form>

 <button class="button button-shadow winbutton" onclick="window.location.href='/'">Restart</button>
</body></center>